*{
	margin-left: 0;
	padding-right: 0;
	box-sizing: border-box;
	font-family: 'Overpass', sans-serif;
}

body{
  text-align: center;
  background-color: #fff;
}


html{
	scroll-behavior: smooth;
}
audio{
  width: 50%;
}
/*Styling profile section*/

#profile{
  color: #fff;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/27/3e/43/273e43a71854d8359186ecc348370f8d.jpg");
  background-size: 100% 100%;
  border-bottom: 5px solid #fff;

}
#profile .btn{
  background-color: #7e0315;
}
#profile img{
  width: 100%;
  text-align: center;
}
#profile .btn{
  margin-top: none;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}
#profile .btn-block:hover {
  background-color: #d60620;
  color: #fff;
}

#profile .btn-block:active {
  background-color: #b70316;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Styling About section*/

#about-me{
  color: #fff;
  background-color: #111111;
}
#about-me h1{
  padding: 30px;
  margin: 40px;
}
#about-me p{
  font-family: 'ABeeZe', sans-serif;
  font-size: 20px;
}
#about-me img{
  width: 100%;
  border: 5px solid #7e0315;
  padding: 10px;
}

/*Styling project section*/
#project{
  color: #fff;
  background-color: #7e0315;
  border-top: 5px double #fff;
}
#project h1{
  padding: 30px;
  margin: 40px;
}
#portfolio .card-body{
  color: #fff;
}

/*Styling contact section*/
#contact{
  color: #fff;
  background-color: #111111;
  border-top: 5px double #fff;
}
#contact h1{
  color: #fff;
}
/*sticky navigation*/
#navbar {
  overflow: hidden;
  background-color: #000000;
  z-index: 1000;
  width: 100%;
  border-bottom: 2px solid #fff;
}
#navbar a {
  float: left;
  display: block;
  color: #7e0315;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  z-index: 1000;
  font-family: 'Anton', sans-serif;

}
#navbar a:hover{
  background-color: #fff;
  border-radius: 50%;
  color: #7e0315;
}

.content {
  padding: 30px;
    position: fixed;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*styling button*/

.btn-block {
  display: inline-block;
  padding: 6px 8px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #111111;
  border: none;
  border-radius: 110px;
  box-shadow: 0 9px #999;
}

.btn-block:hover {
  background-color: #555555;
}

.btn-block:active {
  background-color: #777777;
  box-shadow: 0 5px #999999;
  transform: translateY(4px);
}
.form-control{
  background-color: #111111 !important;
  color: #fff;
}
input{
  background-color: #111111 !important;
  color: #fff;
  border: none;
  width: 100%;
  height: 100%;
}
input:hover {
  color: #fff !important;
  background-color: #555555 !important;
  border: none !important;
}

input:active {
  color: #fff !important;
  background-color: #555555 !important;
  border: none !important;
}


/*styling send button on contact section*/

#send {
  display: inline-block;
  border-radius: 10px;
  background-color: #7e0315;
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  width: 100%;
}
#send span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: #7e0315;
  color: #fff;
  width: 100%;

}

#send span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#send:hover span {
  padding-right: 25px;
}

#send:hover span:after {
  opacity: 1;
  right: 0;
}

/*styling nav logo*/

/* .logo-image {
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin-top: -6px;
    padding: 5px;
}
.logo-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}*/

/*styling project section pictures*/

div .card-body{
  text-align: center;
}

div.gallery {
  float: left;
  width: 100%;
  color: white;
}


div.gallery img {
  width: 80%;
  height: 60%;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*styling contact section input boxes*/

.form1 input{
  border-radius: 10px;
  border: 5px double #7e0315;
  padding: 10px;

}
#message{
  height: 200px;
  width: 100%;
  border-radius: 10px;
  border: 5px double #7e0315;
  padding: 10px;
  color: #fff;
}

/*styling footer*/

footer{
  background-color: #950217;
  border-top: 2px solid #fff;
}
footer h2{
  font-family: 'Overpass', sans-serif;
  color: #111111;
  text-align: center;
  padding: 25px;
}
footer img{
  width: 100%;
  height: 100%;
  text-align: center;
}
footer .row{
  text-align: center;
}
footer .footer-copyright{
  background-color: #7e0315;
  width: 100%;
  color: #fff;
  font-family: 'Overpass', sans-serif;
}

/*styling social media icons*/

.fa {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  width: auto;
  color: #fff;
}


.fa:hover {
  color: black;
  text-decoration: none;
}


/*styling embeded map*/

#map iframe{
  height: 100%;
  width: 100%;
  border: none;
  padding: 20px;
}
